*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-box{
    background-color: #0d47a1;
    height: 100%;
}
.container{
    max-width: 1080px;
    height: 100%;
    display: flex;
}
nav{
    position: relative;
    display: flex;
    justify-content: end;
    height: 4rem;
    width: 100%;
}
.links{
    display: flex;
}
.link-elements{
    margin-right: 10px;
    margin-left: 10px;
}
a{
    text-decoration: none;
}

.nav-button{
    height: 40px;
    width: 70px;
    border: #0d47a1;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* .nav-button:hover{
    background-color: #42a5f5;
    color: white;
    transition: ease 3s;
} */

.text-bold{
    font-weight: bold;
}